@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000000;
    background: #ffffff;
  }
}

.bg-header {
  background: url(https://picsum.photos/1920/1920/?random) center center
    no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(https://picsum.photos/1600/1600/?random) center center
    no-repeat;
  background-attachment: fixed;
}

.parallax {
  /* The image used */
  background: url("/images/flower-frame2.jpg");
  // background: url(https://i.picsum.photos/id/128/3823/2549.jpg?hmac=VbPyA2vESva2YdoXqll9REBcbQIskgv_c-D60C1s0xc);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
  h1 {
    @apply text-5xl md:text-6xl xl:text-8xl;
    font-family: "Dancing Script", sans-serif;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-4xl;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  h4 {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  h6 {
    @apply text-xs md:text-sm lg:text-base;
  }
  p {
    @apply text-xs md:text-sm lg:text-base xl:text-lg;
  }
}

.typing-text {
  width: 18.5ch;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #000000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(22, end), blink 0.5s step-end infinite alternate;
  @media screen and (min-width: 1280px) {
    width: 18ch;
  }
  @media screen and (min-width: 1024px) {
    width: 18ch;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
